@model PePets.Models.ChangePasswordViewModel

    <div class="form-section rounded shadow">
        <span class="form-section-title">Изменение пароля</span>

        <form asp-controller="Users" asp-action="ChangePassword" method="POST">
            <input type="hidden" asp-for="Id" />

            <div class="input-group-underlined">
                <input type="text" class="input-underlined" asp-for="OldPassword" required>
                <label class="input-label">Старый пароль</label>
                <span class="input-bar"></span>
                <span class="input-helper">Введите свой старый пароль</span>
                <span asp-validation-for="OldPassword"></span>
            </div>

            <div class="input-group-underlined">
                <input type="text" class="input-underlined" asp-for="NewPassword" required>
                <label class="input-label">Новый пароль</label>
                <span class="input-bar"></span>
                <span class="input-helper">Придумайте новый пароль</span>
                <span asp-validation-for="NewPassword"></span>
            </div>

            <div class="input-group-underlined">
                <input type="text" class="input-underlined" asp-for="ConfirmNewPassword" required>
                <label class="input-label">Подтверждение пароля</label>
                <span class="input-bar"></span>
                <span class="input-helper">Введите новый пароль ещё раз</span>
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>

            <button type="submit" class="btn btn-outline-dark">Сохранить</button>
        </form>
    </div>
