@model  PePets.Models.User

    <div class="container">
        <div class="row">
            <!-- Левая колонка с пунктами меню -->
            <div class="col col-2">
                <div class="list-group list-group-flush shadow" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Профиль</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Сообщения</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Настройки</a>
                </div>
            </div>

            <div class="col col-10">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <div class="row">
                            <!-- Средняя колонка для аватарки и диалогов под ней -->
                            <div class="col col-3">
                                <div class="mb-3 rounded-lg shadow">
                                    @if (string.IsNullOrEmpty(Model.Avatar))
                                    {
                                        <img src="~/img/user.png" class="img-thumbnail w-100 h-100">
                                    }
                                    else
                                    {
                                        <img src=@Model.Avatar class="img-thumbnail w-100 h-100">
                                    }

                                </div>

                                <!-- Поле рейтинга -->
                                <div class="border rounded-lg text-center mb-3 rating shadow">
                                    <h5>Рейтинг</h5>

                                    <div>
                                        <span>4.58 / 5</span>
                                    </div>

                                    <div>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Колонка с диалогами (максиум 5 штук) -->
                                <div class="border rounded-lg text-center dialogs shadow">
                                    <h5>Диалоги</h5>

                                    <!-- Диалог -->
                                    <div class="border rounded-25 mr-2 ml-2 d-flex justify-content-center mb-2 shadow-on-hover">
                                        <div class="row w-100 align-content-between p-1">
                                            <div class="col col-3 p-0">
                                                <img src="~/img/user.png" class="dialogs-avatar" height="50" width="50">
                                            </div>

                                            <div class="col col-9 text-truncate">
                                                <span class="font-weight-bold">Имя фамилия</span>
                                                <br>
                                                <span class="font-weight-light">Сообщение Сообщение Сообщение</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Диалог -->
                                    <div class="border rounded-25 mr-2 ml-2 d-flex justify-content-center mb-2 shadow-on-hover">
                                        <div class="row w-100 align-content-between p-1">
                                            <div class="col col-3 p-0">
                                                <img src="~/img/user.png" class="dialogs-avatar" height="50" width="50">
                                            </div>

                                            <div class="col col-9 text-truncate">
                                                <span class="font-weight-bold">Имя фамилия</span>
                                                <br>
                                                <span class="font-weight-light">Сообщение Сообщение Сообщение</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Диалог -->
                                    <div class="border rounded-25 mr-2 ml-2 d-flex justify-content-center mb-2 shadow-on-hover">
                                        <div class="row w-100 align-content-between p-1">
                                            <div class="col col-3 p-0">
                                                <img src="~/img/user.png" class="dialogs-avatar" height="50" width="50">
                                            </div>

                                            <div class="col col-9 text-truncate">
                                                <span class="font-weight-bold">Имя фамилия</span>
                                                <br>
                                                <span class="font-weight-light">Сообщение Сообщение Сообщение</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Правая колонка для основной информации -->
                            <div class="col col-9">
                                <!-- Дополнительная информация -->
                                <div class="mb-3 p-2 rounded-lg shadow">
                                    <h1>@Model.FirstName @Model.SecondName</h1>
                                    <div class="row mb-2">
                                        <div class="col col-3 text-muted">На сайте с </div>
                                        <div class="col col-9">Не указано</div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col col-3 text-muted">Город: </div>
                                        <div class="col col-9">@Model.Location</div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col col-3 text-muted">Дата рождения: </div>
                                        <div class="col col-9">Не указано</div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col col-3 text-muted">Обо мне: </div>
                                        <div class="col col-9">
                                            <p>Не указано</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Список объявлений (мои объявления и понравившиеся) -->
                                <div class="rounded-lg shadow">

                                    <!-- Кнопки выбора -->
                                    <div class="mb-3">
                                        <div class="row text-center list-adverts-btn">
                                            <div class="col col-6 p-2">
                                                <a class="text-decoration-none text-dark adverts-link-active" href="javascript://0" id="myAdvertsLink" onclick="LoadMyAdverts()">Мои объявления</a>
                                            </div>

                                            <div class="col col-6 p-2">
                                                <a class="text-decoration-none text-dark border-bottom-animation" href="javascript://0" id="likesAdvertsLink" onclick="LoadLikesAdverts()">Понравившиеся объявления</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Список объявлений пользователя -->
                                    <div class="row justify-content-center" id="myAdverts">

                                        @foreach (Advert advert in Model.Adverts)
                                        {
                                            <div class="col col-11">
                                                <!-- Карточка объявления -->
                                                @await Html.PartialAsync("~/Views/Advert/AdvertCard.cshtml", advert);
                                            </div>
                                        }

                                    </div>

                                    <!-- Список понравившихся объявлений -->
                                    <div class="row justify-content-center d-none" id="likesAdverts">

                                        @foreach (Advert advert in Model.FavoriteAdverts)
                                        {
                                            <div class="col col-11">
                                                <!-- Карточка объявления -->
                                                @await Html.PartialAsync("~/Views/Advert/AdvertCard.cshtml", advert);
                                            </div>
                                        }

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Страница сообщений -->
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                        <div class="text-center text-muted display-4">
                            Messages <br />
                            Coming soon...
                        </div> 
                    </div>

                    <!-- Страница настроек -->
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                        @await  Component.InvokeAsync("EditProfile", new EditUserProfileViewModel() { Id = Model.Id })
                    </div>
                </div>
            </div>

        </div>
    </div>
