@model bool

@if (!Model)
{
    <div class="email-confirm">
        <span>Чтобы использовать все возможности сайта, необходимо подтвердить свой email адрес, перейдя по ссылке в отправленном письме</span>
    </div>
}
