

<div class="container">
    <h1 class="text-center">Панель администрирования</h1>
    <div class="row">
        <div class="col col-lg-6 col-12 overflow-auto">
            @await Component.InvokeAsync("UserList")
        </div>

        <div class="col col-lg-6 col-12 overflow-auto">
            @await Component.InvokeAsync("RoleList")
        </div>

    </div>
</div>
