    <header>
        <nav class="navbar navbar-expand-lg bg-info fixed-top">
            <div class="row justify-content-between align-items-center w-100">
                <div class="col-3 d-inline-flex">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img src="~/img/Logo.png" alt="Logo" width="50" height="50" />
                    </a>

                    <!-- Скорей всего не будет кнопок в шапке
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>

                <div class="col-3 title text-center text-light">
                    <h3>PePets</h3>
                </div>
                
                <div class="col-3 text-right user">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <div>
                        <img src="~/img/user.png" alt="User Avatar" height="50" width="50" />
                        <div class="list-group list-group-flush popup-user-block">
                            <!--
                                <a href="#" class="list-group-item list-group-item-action">Мой профиль</a>
                                <a href="#" class="list-group-item list-group-item-action">Сообщения
                                    <span class="badge badge-primary badge-pill">5</span>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action">Мои объявления</a>
                                <a href="#" class="list-group-item list-group-item-action">Закладки</a>
                                class="list-group-item list-group-item-action"
                            -->

                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit">Выйти</button>
                            </form>
                        </div>
                        
                    </div>      
                    }
                    else
                    {
                        <div>
                            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-light">Войти</a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    