    <header>
        <nav class="navbar navbar-expand-lg bg-info fixed-top">
            <div class="row justify-content-between align-items-center w-100">
                <div class="col-3 d-inline-flex">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img src="~/img/Logo.png" alt="Logo" width="50" height="50" />
                    </a>

                    <!-- Скорей всего не будет кнопок в шапке
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    -->
                </div>

                <div class="col-3 title text-center text-light">
                    <h3>PePets</h3>
                </div>
                
                <div class="col-3 text-right user">
                    <img src="~/img/user.png" alt="User Avatar" height="50" width="50" /> 
                </div>
            </div>
        </nav>
    </header>
    