<div class="startBlock">
    <div class="row align-items-center justify-content-around h-100">
        <div class="col-md-4 col-sm-12 text-center">
            <button class="btn btn-info btn-search">Найти объявление</button>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <a asp-controller="Advert" asp-action="AdvertEdit" class="btn btn-primary btn-add" id="btn_search">Создать объявление</a>
        </div>
    </div>
</div>