.font-size-17 {
    font-size: 17px;
}

.cost {
    font-size: 26px;
    font-weight: bold;
}

.fa-ruble-sign {
    font-size: 20px;
}

.circle {
    border-radius: 50%;
}

/* Слайдер */
.advert-review-slider-nav {
    padding: 0px 15px;
}

.slider-for-img {
    height: 450px;
    width: 450px;
}

.slider-nav-img {
    height: 100px;
    width: 100px;
}

.advert-review-slider-nav .slick-arrow {
    position: absolute;
    margin-top: -20px;
    top: 50%;
    z-index: 2;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: 0;
}

.advert-review-slider-nav .slick-arrow.slick-prev {
    left: 0;
    background: url('~/img/left-arrow.svg') 0 0 / 100% no-repeat;
}

.advert-review-slider-nav .slick-arrow.slick-next {
    right: 0;
    background: url('~/img/right-arrow.svg') 0 0 / 100% no-repeat;
}
