.startBlock {
    background: url(../img/background_pets/pets1.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.btn-search, .btn-add {
    font-size: 22px;
    padding: 2em;
    border-radius: 25px;
}

