@model List<PePets.Models.Advert>

@await Html.PartialAsync("StartPagePartial")

    <div id="advertsPage" class="container">
        <div class="text-center">
            <h1 class="display-4">Все объявления</h1>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col col-sm-10">
                <div class="search w-100">
                    <form method="get" asp-controller="Search" asp-action="Search" id="search_form">
                        <input type="text" class="search_input" name="input" placeholder="Поиск..." required>
                        <button type="submit" class="search_btn"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        @await  Component.InvokeAsync("AdvertsList", Model)
    </div>
