@model IQueryable<PePets.Models.Advert>

@await Html.PartialAsync("StartPagePartial")

<div id="advertsPage">
    <div class="text-center">
        <h1 class="display-4">Все объявления</h1>
    </div>

    <div class="row justify-content-center">
        @foreach (Advert advert in Model)
        {
            @await Html.PartialAsync("~/Views/Advert/AdvertCard.cshtml", advert);
        }
    </div>
</div>
