@model PePets.Models.Advert
@using static PePets.Models.PetDescription
<div class="text-center">
    <h1>Редактировать объявление</h1>
    <div>
        <form asp-controller="Advert" asp-action="AdvertEdit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="All"></div>
            
            <div>
                <label asp-for="Title">Title</label>
                <input type="text" asp-for="Title" />
                <span asp-validation-for="Title"></span>
            </div>
            <div>
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <label asp-for="Cost">Cost</label>
                <input type="text" asp-for="Cost" />
                <span asp-validation-for="Cost"></span>
            </div>


            <div>
                <label asp-for="Images">Upload images</label>
                <input type="file" accept="image/*" asp-for="Images" multiple />
                <span asp-validation-for="Images"></span>
            </div>
            
            <div>
                
                <div>
                    <label asp-for="PetDescription">Pet description</label>
                </div>
                <div>
                    <label asp-for="PetDescription.Age">Age</label>
                    <input type="text" asp-for="PetDescription.Age" />
                    <span asp-validation-for="PetDescription.Age"></span>
                </div>
                <div>
                    <label asp-for="PetDescription.Color">Color</label>
                    <input type="text" asp-for="PetDescription.Color" />
                    <span asp-validation-for="PetDescription.Color"></span>
                </div>
                <div>
                    <label asp-for="PetDescription.Sex">Sex</label>
                    <select asp-for="PetDescription.Sex">
                        @foreach (string gender in Enum.GetNames(typeof(Genders)))
                        {
                            <option value="@Enum.Parse(typeof(Genders), gender)">@gender</option>
                        }
                    </select>
                    <span asp-validation-for="PetDescription.Sex"></span>
                </div>
                <div>
                    <label asp-for="PetDescription.Type">Type</label>
                    <select asp-for="PetDescription.Type">
                        @foreach (string type in Enum.GetNames(typeof(TypeofPet)))
                        {
                            <option value=@Enum.Parse(typeof(TypeofPet), type)>@type</option>
                        }
                    </select>
                    <span asp-validation-for="PetDescription.Type"></span>
                </div>
                <div>
                    <label asp-for="PetDescription.Breed">Breed</label>
                    <input type="text" asp-for="PetDescription.Breed" />
                    <span asp-validation-for="PetDescription.Breed"></span>
                </div>
            </div>
            
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>


